<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Add Patient</title>
    </h:head>
    <h:body>
        <h:form>
            <p:panelGrid>
                <p:outputLabel for="idPatient" value="ID Patient : "/>
                <p:inputText id="idpat" required="true"/>
                <p:message for="idpat" display="text"/>
                
                <p:outputLabel for="namaPatient" value="Nama : "/>
                <p:inputText id="nmPat" required="true"/>
                <p:message for="nmPat" display="text"/>
                
                <p:outputLabel for="alamat" value="Alamat : "/>
                <p:inputText id="alm" required="true"/>
                <p:message for="alm" display="text"/>
            </p:panelGrid>
            
            <p:commandButton id="submitButton" value="Add" actionListener="" update="panel"/>
        </h:form>
    </h:body>
</html>

